.Logo{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    margin: auto;

    width: 80%;
    height: 80%;

    object-fit: contain;
}

.LogoWrp{
    position: absolute;

    width: 100%;
    padding-top: 80%;

    background: #383c40;

    z-index: 2;
}

.navItemsOuterWrp,
.cartWrp{
    padding-top: 27.5px;
    padding-bottom: 27.5px;
}

.navItemsInnerWrp{
    display: flex;
    align-items: center;
    margin: 0;
}

.navItem{
    font-size: 16px;
    list-style-type: none;
    margin-right: 18px;
    color: #707070;
}

.cartIcon{
    margin-right: 10px;
    color: #707070;
    font-size: 25px;
}

.cartPrice{
    color: #707070;
}

.cartIconWrp{
    transition: opacity .2s ease;
    cursor: pointer;
}

.cartIconWrp:hover{
    opacity: 0.6;
}

.cartAmount{
    position: absolute;

    width: 23px;
    height: 23px;

    border-radius: 50%;

    top: -10px;
    right: 2px;

    background: #F9B72E;
    color: white;
}

.langImg{
    height: 30px;
    margin-left: 20px;
    transition: opacity .3s ease;
}

.langImg:hover{
    opacity: 0.6;
}

@media (max-width: 1100px) {
    .desktopNavbar{
        display: none;
    }
}
